.page {
  background-color: var(--secondary-blue);
  width: 100vw;
  height: 100vh;
  display: flex;
}

.form {
  background-color: white;
  border-radius: 30px;
  margin-top: 114px;
  margin-left: 111px;
  box-shadow: var(--primary-shadow);
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  width: 423px;
  margin: 36px;
}

.h1,
.h2,
.p {
  color: var(--primary-black);
}

.h1 {
  font-size: 31px;
  font-weight: 500;
  margin-bottom: 61px;
}

.h2 {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 61px;
}

button,
a {
  all: unset;
}

.button {
  background-color: var(--primary-blue);
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  height: 57px;
  text-align: center;
  cursor: pointer;
  box-shadow: var(--primary-shadow);
}

.register {
  margin-top: 58px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.register p {
  font-weight: 300;
  color: #7d7d7d;
}

.a {
  font-weight: 600;
  color: var(--primary-blue);
  cursor: pointer;
}
