.button {
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: var(--medium);
  background-color: var(--primary-blue);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: var(--primary-shadow);
}
