.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: opacity;
}

.dialogContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  will-change: transform, opacity;
}

.fileViewerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileViewerContainer {
  background: transparent;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}
