.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center,
.bottom {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: var(--primary-shadow);
  width: 100%;
  border-radius: 22px;
}

.center {
  padding: 20px 35px;
  height: 100%;
  overflow-y: scroll;
}

.storageTable {
  height: calc(100vh - 300px);
  overflow-y: auto;
}
