.input_container {
  display: flex;
  align-items: center;
  margin: 0px;
}
.input_field {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}
.input {
  margin: 0px;
  outline: none;
  background-color: black;
  color: white;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  padding-left: 10px;
  border: none;
  width: 100%;
  margin-right: 40px;
}
