.cloud {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 38px;
  box-shadow: var(--primary-shadow);
  width: 360px;
  height: fit-content;
  padding: 32px 38px;
  gap: 26px;
}

.h1 {
  color: var(--primary-black);
  font-size: 23px;
  font-weight: var(--bold);
  text-align: center;
}
