.uplChooseFileButton {
  cursor: pointer;
  color: var(--primary-blue);
  font-size: 15px;
  font-weight: var(--regular);
  border-radius: 8px;
  border: 2px solid var(--primary-blue);
  width: 160px;
  height: 50px;
  text-align: center;
}
