.nav {
  width: 80px;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  box-shadow: var(--primary-shadow);
}

.buttons {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.navButtons {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.logoutDiv {
  margin-bottom: 40px;
}
