.div {
  height: 100%;
}

.button {
  color: var(--primary-blue);
  font-size: 23px;
  font-weight: var(--bold);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.underline {
  width: 100%;
  background-color: var(--primary-blue);
  height: 3px;
  box-shadow: 2px 3px 6px rgba(70, 118, 251, 0.54);
  border-radius: 0 0 12px 12px;
}
