.dialog_container {
  background-color: white;
  width: 428px;
}

.dialog_border {
  border: 1px black solid;
  margin: 26px 20px;
  position: relative;
}

.h1_container {
  background-color: white;
  width: 200px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -10px;
}

.dialog_h1 {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
}
