.table {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.emptyDiv {
  width: 100%;
}

.clickableText {
  color: var(--primary-blue);
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
}

.clickableText:hover {
  color: var(--primary-blue-dark);
  text-decoration: none;
}
