.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 14px;
  cursor: pointer;
  border: 0.12em solid #b5c8fd;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: #f5f8ff;
  border-color: #4676fb;
}

.noBorder {
  border: none !important;
}
