.dialog {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 30px 36px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.h1 {
  text-align: left;
  font-size: 22px;
  color: var(--primary-black);
  font-weight: var(--semi-bold);
  flex: 1;
  word-break: break-word;
  padding-right: 16px;
}
