.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  box-shadow: var(--primary-shadow);
  border-radius: 22px;
  padding: 34px 35px;
  height: 100%;
  gap: 40px;
}

.h1 {
  font-size: 28px;
  font-weight: var(--regular);
  color: var(--primary-black);
}

.h2 {
  font-size: 23px;
  color: var(--primary-black);
  font-weight: var(--bold);
}

.top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.storages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 20px;
  padding: 10px;
}

.storages > * {
  flex: 0 0 calc(25% - 20px);
  margin-bottom: 20px;
}

.clickableText {
  color: var(--primary-blue);
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
}

.clickableText:hover {
  color: var(--primary-blue-dark);
  text-decoration: none;
}
